body {
    background-color: black;
    color: white;
}
.container {
    display: flex;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background-image: url(odisha.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}
.btn2 {
    background-color: beige;
}
.form-box {
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
    padding: 10px;
}